.header {
	padding: 16px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: rgba(28, 28, 33, 1);
}

.headerMenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerMenuGroup {
	display: flex;
	justify-content: flex-start;
	gap: 28px;
}

.headerMenuItem {
	flex: 1;
	display: flex;
	justify-content: space-around;
}

.headerMenuItem:first-child {
	justify-content: start;
}

.headerMenuItem:last-child {
	justify-content: end;
}
